APP_ENV=dev
SECRET_KEY=!NotSoSecretChangeMe!
TYPEORM_URL=postgres://user:user@localhost:5432/seed
TYPEORM_ENTITIES=**/*.entity.ts
TYPEORM_MIGRATIONS=migration/*.ts
TYPEORM_MIGRATIONS_DIR=migration
TYPEORM_SYNCHRONIZE=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# For cors - indicate client URL
ALLOWED_HOST=
AIRTABLE_API_KEY=
